* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* width: 100vw; */
  overflow-x: hidden;
}
#hero-text {
  background: url("images/New home.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #ffffff;
  max-width: 100%;
  object-fit: contain;
  text-shadow: 0 0 5px #222;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000091;
}

.icons h3 {
  /* font-weight: bold; */
  margin-bottom: 15px;
}

.icons i {
  /* background-color: #1e90ff; */
  color: hsl(204, 86%, 36%);
  padding: 0.1rem;
  /* border-radius: 50%;
  margin-bottom: 15px; */
}

.icons i:hover {
  opacity: 0.7;
}

.img {
  max-width: 100%;
  width: 100%;
}
hr {
  visibility: hidden;
}
#down-pointer {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}
#down-pointer span {
  bottom: 80px;
}
#down-pointer i {
  bottom: 30px;
  font-size: 3rem;
}
.slide-bottom {
  -webkit-animation: slide-bottom 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
  animation: slide-bottom 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  nav {
    width: 100vw;
    position: fixed;
  }
  .display-3 {
    font-size: 3rem;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  .content {
    margin: 0;
    padding: 3rem 0.5rem;
  }
  img {
    height: 100%;
  }
  hr {
    display: block;
  }
}
